html {
    font-size: 16px;
}

body {
    color: #343434;
    font-size: 1em;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    padding: 5em 6em;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 20%,
            rgba(255, 255, 255, 1) 65%,
            rgba(255, 255, 255, 0.8)),
        url('../img/john-middelkoop-unsplash.jpg');
    background-position: top;
    background-size: cover;
}

#logo {
    width: 200px;
}

main {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

#message {
    width: 50%;

    h1 {
        font-size: 4.5em;
        font-weight: 700;
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.5em;
        font-weight: 300;
        margin-top: 0.25em;
    }
}

#watch {
    display: flex;
    justify-content: center;
    width: 50%;

    img {
        width: 200px;
    }
}

footer {
    font-size: 1.5em;
    text-align: center;
    margin: 5em 0;

    p {
        font-weight: 300;
        margin-bottom: 1.75em;
    }
}

address {
    font-size: 1.25em;
    font-style: normal;

    p {
        line-height: 1.75;

        span {
            font-weight: 600;
        }
    }

    a {
        color: #3372ff;
        font-weight: 300;
        text-decoration: none;
    }
}

/* -- Screens smaller than 1024px wide -- */
@media only screen and (max-width: 1024px) {
    main {
        flex-flow: row wrap;
    }

    #message, #watch {
        text-align: center;
        width: 100%;
    }
}

/* -- Screens smaller than 640px wide -- */
@media only screen and (max-width: 640px) {
    body {
        padding: 2em;
    }

    header {
        text-align: center;
    }

    #logo, #watch img {
        width: 150px;
    }

    #message h1 {
        overflow-wrap: break-word;
        font-size: 2.5em;
    }

    #message h2 {
        font-size: 1.5em;
    }

    footer {
        font-size: 1.25em;
    }

    a {
        overflow-wrap: break-word;
    }
}